html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vh;
  background: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  color: black;
  font-family: 'Open Sans', sans-serif; /* La police de caractère */
}

.main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

/* la barre de défilement sur les pages qui ont assez de contenu */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border: 13px solid #4effa5;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0);
  background: linear-gradient(35deg, rgba(255, 0, 0, 1) 0%, rgba(65, 98, 255, 1) 30%, rgba(67, 180, 227, 1) 51%, rgba(255, 0, 167, 1) 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 0, 167);
  background: linear-gradient(35deg, rgba(67, 180, 227, 1) 0%, rgba(255, 0, 0, 1) 30%, rgba(255, 0, 167, 1) 50%, rgba(65, 98, 255, 1) 100%);
  border-radius: 10px;
}

/* L'image d'arriere plan */

.bg-img {
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1350px) {
  .bg-img {
    width: auto;
  }
}

.flex-1 h1 {
  text-align: center;
  padding: 0;
  font-size: 2rem;
  margin-top: 20px;
}

hr {
  background: black;
  height: 3.5px;
  width: 30%;
  text-align: center;
  border: 0;
}

/* Des proprietes pour centrer tout dans flexbox */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Les proprietes du contenu principale */
.flex-2 {
  position: relative;
  top: 0;
  left: 0;
  padding: 75px;
}

.flex-2 h1 {
  text-align: center;
  margin-top: 14px;
}

.flex-2 h2 {
  margin: 20px 0 0;
  font-size: 2rem;
  text-align: center;
}

/* Stylage de l'image + l'animation */
.punk {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  border: 2px solid red;
  transition: 0.4s;
  margin-left: 22px;
  margin-top: -50px;
  width: 180px;
}

.punk:hover {
  background: rgba(0, 0, 0, 1);
  transform: rotate(-4deg);
}

.nom {
  font-size: 2.5rem;
}

.div-hr {
  width: 100%;
}

p {
  text-align: center;
  font-size: 1.18rem;
}

/*   Partie bas de la page avec les liens aux autres pages */
footer {
  background: ;
  height: 250px;
  width: 800px;
  text-align: center;
  margin: auto;
  margin-top: -60px;
}

.footer-a {
  position: relative;
  text-decoration: none;
  font-size: 1.7rem;
  width: 33%;
  color: red;
  transition: 0.3s;
}

.footer-a:nth-child(2) {
  margin-left: 100px;
  margin-right: 100px;
}

/* L'animation de la ligne rouge sur les liens en bas de page quand tu hover */
.footer-a:before {
  position: absolute;
  bottom: -3px;
  left: 0;
  background: red;
  height: 3px;
  content: "";
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: right;
}

.footer-a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/*   Le stylage de la fleche du bas de page (pour les pages qui en ont besoin) */

.footer-arrow {
  width: 4.6vw;
  position: absolute;
  left: 15px;
  color: black;
  transition: 0.4s;
}

.footer-arrow:hover {
  color: #0ad;
  transform: scale(1.3) rotate(360deg);
}
