* {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background: powderblue;
  height: 200vh;
}

p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 20px;
}

.inputdiv {
  text-align: left;
  width: 300px;
  margin: auto;
}

img {
  width: 14%;
  position: relative;
}

.cpuimg {
  width: 12%;
}

.button {
  position: relative;
  font-size: 16px;
  top: 30px;
  border: 0;
  background: #1ad;
  padding: 9px 18px;
  border-radius: 30px;
  transition: 0.15s;
}

.button:hover {
  background: #0096c8;
  cursor: pointer;
}

#affiche {
  position: relative;
  top: 50px;
  line-height: 22px;
}

input {
  margin-bottom: 14px;
}
